/* .App {
  text-align: center; 
} */
.App-link {
  color: #61dafb;
}
.allpros{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: center;
  margin-bottom: 5%;
}
.procard{
  margin: 2%;
}

.registerform, .loginform{
  margin-left:25%;
  margin-right:25%;
  margin-top:2%;
  margin-bottom:2%;
}
.formbottom{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linkbottom{
  text-align: center;
}
.links{
  margin-left: 2%;
  font-size: 2rem;
}
.fas{
  color:#ffffff80
}
.fas:hover{
  color:#ffffff
}